
BMAPI/.idea/BMAPI.iml
BMAPI/.idea/inspectionProfiles/Project_Default.xml
BMAPI/.idea/webServers.xml
BMAPI/.idea/workspace.xml
BMAPI/.idea/modules.xml
BMAPI/.idea/deployment.xml
BMAPI/payments/lib/
BMiOS/Pods/
