<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>633852952532-j0f8nc2qb6mqvlho98nq8kd2lqtmhd6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633852952532-j0f8nc2qb6mqvlho98nq8kd2lqtmhd6o</string>
	<key>API_KEY</key>
	<string>AIzaSyCNS6stw21EIFyAD92u029RQdTckrUphZs</string>
	<key>GCM_SENDER_ID</key>
	<string>633852952532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.beyondmanagement.app</string>
	<key>PROJECT_ID</key>
	<string>bmg-immigration-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>bmg-immigration-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633852952532:ios:da388621f388ad73</string>
	<key>DATABASE_URL</key>
	<string>https://bmg-immigration-portal.firebaseio.com</string>
</dict>
</plist>